.material-red  {
    background-color: #f44336;
  }
  .material-pink  {
    background-color: #e91e63;
  }
  .material-purple  {
    background-color: #9c27b0;
  }
  .material-deeppurple  {
    background-color: #673ab7;
  }
  .material-indigo  {
    background-color: #3f51b5;
  }
  .material-lightblue  {
    background-color: #03a9f4;
  }
  .material-cyan  {
    background-color: #00bcd4;
  }
  .material-teal  {
    background-color: #009688;
  }
  .material-lightgreen  {
    background-color: #8bc34a;
  }
  .material-lime  {
    background-color: #cddc39;
  }
  .material-lightyellow  {
    background-color: #ffeb3b;
    color: #4D4D4D;
  }
  .material-orange  {
    background-color: #ff9800;
  }
  .material-deeporange  {
    background-color: #ff5722;
  }
  .material-grey  {
    background-color: #9e9e9e;
  }
  .material-bluegrey  {
    background-color: #607d8b;
  }
  .material-brown  {
    background-color: #966958;
  }
  .material-lightgrey  {
    background-color: #ececec;
    color: #4D4D4D;    
  }
  
  .material-black  {
    background-color: #111111;
    color: #ffffff;    
  }

  

.vertjaunerouge {
  height: 0.25em;
  background: #47ed25;
    background: -moz-linear-gradient(-45deg, #47ed25 8%, #cce224 27%, #e3ed25 39%, #ede325 48%, #ede325 53%, #edbe25 72%, #f29626 83%, #f43f27 98%); 
    background: -webkit-linear-gradient(-45deg, #47ed25 8%,#cce224 27%,#e3ed25 39%,#ede325 48%,#ede325 53%,#edbe25 72%,#f29626 83%,#f43f27 98%); 
    background: linear-gradient(135deg, #47ed25 8%,#cce224 27%,#e3ed25 39%,#ede325 48%,#ede325 53%,#edbe25 72%,#f29626 83%,#f43f27 98%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47ed25', endColorstr='#f43f27',GradientType=1 ); 
}